
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
 <h1> Hi it's Karun here</h1>
        <a href="/Home/AboutUs">Home About us</a>
        <a href="/Employee/Index">EmployeeIndex</a>
        <a href="/Employee/AboutUs">Employee About us</a>
    </div>
</body>
</html>
